.userImg {
  width: 30px;
  height: 30px;
}
.corp {
  margin-top: 20px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1%;
  background: white;
  border-top-right-radius: 2em;
  border-top-left-radius: 2em;
}

.appVideo {
  padding-top: 1%;
  background: #e6e6fa;
}
