<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Video Reader</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login"
            >Login
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">
          Bienvenue dans Vidéo Reader
        </h1>
        <p class="lead mb-5 text-white-50">
          Avec vidéo reader vous pouver visualisez vos vidéos preferées il
          suffit juste de cliquez sur la video de votre choix et Go ! Vous avez
          aussi la possibilité de faire des commentaires sur chaque videos.
        </p>
      </div>
    </div>
  </div>
</header>
<footer class="py-5 bg-dark" style="margin-top:25%">
  <div class="container">
    <p class="m-0 text-center text-white">
      Copyright &copy; Your AdnCorp 2019
    </p>
  </div>
  <!-- /.container -->
</footer>
