.img-logo {
  width: 150px;
  height: 100px;
}

.example-card {
  max-width: 300px;
  max-height: 200px;
}

.example-container {
  width: 500px;
  height: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

.anyClass {
  height: 500px;
  width: 400px;
  overflow-x: scroll;
}
.prince {
  margin-top: 1%;
  margin-bottom: 4%;
}
.video {
  margin: 4%;
  padding: 4%;
  border: 1px solid gray;
  background: lightblue;
}
.commentaire {
  font-size: 18px;
  font-weight: bold;
}

.nbrComment {
  font-size: 18px;
  font-weight: bold;
}
