<div class="row">
  <div class="col-sm-7">
    <div class="prince">
      <mat-tab-group>
        <mat-tab label="Docummentaire"> </mat-tab>
        <mat-tab label="Cinéma"> </mat-tab>
        <mat-tab label="Musique"></mat-tab>
      </mat-tab-group>
    </div>
    <mat-drawer-container class="example-container" autosize>
      <div>
        <youtube-player
          *ngIf="id"
          [videoId]="id"
          (ready)="savePlayer($event)"
          (change)="onStateChange($event)"
        ></youtube-player>
      </div>
    </mat-drawer-container>
  </div>
  <div
    class="col-sm-5"
    *ngIf="videos"
    class="anyClass"
    style="background: white;margin-top:2%"
  >
    <div *ngFor="let v of videos | orderBy: createdAt" class="video">
      <div>
        <img
          (click)="onDisplayCommentaire(v)"
          class="img-logo"
          src="assets/images/video-logo.png"
        />
        <label>{{ v.title }}</label>
      </div>
      <label style="font-weight: bold;">{{ v.duree }} mn</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-8">
    <div class="form-group" style="margin-top: 2%">
      <label class="nbrComment">{{ numberofComments }} commentaire(s)</label>

      <form
        #myform="ngForm"
        (ngSubmit)="doComment(myform)"
        class="form form-register"
      >
        <div class="md-form amber-textarea active-amber-textarea">
          <textarea
            id="form19"
            placeholder="Ecrirez votre commentaire ici ..."
            name="myText"
            class="md-textarea form-control"
            [(ngModel)]="inputComment"
            rows="3"
          ></textarea>
        </div>

        <div style="padding-top:3%">
          <button type="submit" class="btn btn-primary btn-lg">
            Commenter
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-8">
    <mat-list *ngFor="let c of commentaires">
      <mat-list-item>{{ c.libelle }}</mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>

    <div class="col-sm-4"></div>
  </div>
</div>
